body {
    background-color: lightslategray;
    max-width: 65%;
    margin: auto;   
}


#titleheader {
    font: 100% Georgia, "Times New Roman", Times, serif;
    font-size: 2em;    
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.subheader {
    font: 100% Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
}

p {
    text-indent: 3%; 
}

div.block {
    background-color: white;
    margin: 25px;
    padding: 15px;
    border-radius: 15px;
}

a {
    display: block;
    padding: 2px;
}

nav {
    margin-top: 25px;
    padding-top: 10px;
}

.collapsible {
    border: none;
    text-align: left;
    font: 100% Georgia, "Times New Roman", Times, serif;
    padding:1%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: slategrey;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}

.collapsible:hover {
    background-color: lightgray;
    color: black;
}

.content {
    display: block;
}

#sbu, #mta {
    margin: 5px;
    vertical-align: top;
    float: right;
}


#thankyou {
    vertical-align: top;

}